.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 48px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);

  @include mq(desktop) {
    font-size: 72px;
  }
}

.uppertitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: var(--main-txt-cl);
  }
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);

  &::before {
    background-color: rgba(157, 164, 189, 0.6);
  }
}

.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 28px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }
}

.title-theme-dark {
  margin-bottom: 44px;

  color: var(--light-txt-cl);
}

.undertitle {
  margin-bottom: 20px;

  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
}
