body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-txt-cl);
}
